.App {
  text-align: center;
}

form{
  display: flex;
}

.header{
  height: 300px;
  background-color: rgb(64, 52, 87);
  color: #fcfcfc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.form-control{
  display: flex;
  flex-direction: column;
}
.form-control input{
  padding: .65rem;
}

.form-control input:focus{
  outline: none;
}

.btn{
  background-color: rgb(90, 42, 138);
  color: #fcfcfc;
  border: none;
  padding: 0 1rem;
  cursor: pointer;
}

.task{
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.task-item{
  display: flex;
  justify-content: space-between;
  color: #fcfcfc;
}

.task-item span{
  background-color: rgb(90, 42, 138);
  padding: .75rem 2rem;
  border-right: 1px solid rgb(100, 115, 179);
}

.task button{
  border: none;
  background-color: rgb(64, 52, 87);
  color: #fcfcfc;
  padding: 0 1rem;
  cursor: pointer;
}
